body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('img/homepage-background.png'); /* Sets the background image */
    background-size: cover; /* Covers the full viewable area */
    background-position: center; /* Center the background image */
    background-attachment: scroll; /* Fixed background during scrolling */
    min-height: 100vh; /* Minimum height to 100% of the viewport height */
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.8em; /* Adjust size as needed */
    margin-top:0px; /* Space above the heading */
    text-align: center;
    margin-top: 90px;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.2em; /* Smaller than H1 by 15% */
    text-align: center;
    margin-top: 90px;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em; /* Smaller than H1 by 15% */
    text-align: center;
    margin-top: 90px;
}
h5 {
    font-family: 'Playfair Display', serif;
    font-size: 1.3em; /* Smaller than H1 by 15% */
    margin-top: 90px;
    background-color: yellow;
    width: fit-content;
    text-align: center;
    margin: auto;
}