/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('img/homepage-background.png');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: 100vh;
}

.testimonial1-box {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center; /* Center align content */
}

.testimonial1-box img {
    width: 25%;
    max-width: 70%; /* Ensure image does not exceed container width */
    height: auto;
    display: inline-block; /* Display as inline block to center with text-align */
    margin-bottom: 15px;
}

.testimonial1-box p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: left; /* Reset paragraph text alignment */
}



/* Common styles for testimonial boxes */
.testimonial-box {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px); /* 50% width with margin accounted for */
    max-width: 700px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
}

.testimonial-box img {
    width: 100%;
    max-width: 85%;
    height: auto;
    display: block;
    margin: 0 auto 15px;
    border-radius: 5px;
}

.testimonial-box h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    color: black;
    text-align: center;
    margin-top: 0.3em;
}

.testimonial-box p {
    color: #4f4d4d;
    line-height: 1.6;
    font-size: 1.2em;
    padding: 1em;
    margin-bottom: 0;
}

/* Specific styling for .star-child */
.star-child {
    background-image: url('img/about/yellow-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 20px;
    max-width: 700px;
    margin: 20px auto;
    text-align: center;
}

.star-child h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    color: black;
    text-align: center;
    margin: 0;
    background-image: url('img/about/star-background.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 600px;
    margin: 0 auto;
}

