body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('img/homepage-background.png');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    min-height: 100vh;
  }
  
  h1, h2, h3, h5 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-top: 90px;
  }
  
  h1 {
    font-size: 2.8em;
  }
  
  h2 {
    font-size: 2.4em;
  }
  
  h3 {
    font-size: 1.5em;
  }
  
  h5 {
    font-size: 1.3em;
    background-color: yellow;
    width: fit-content;
    margin: auto;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin-top: 10px;
    font-size: 1.2em;
    padding: 0 1em;
  }
  
  .homepage-content, .centered-tile-full-width-hero, .testimonial-box, .centered-tile-full-width, .container-flexer, .row, .column {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .homepage-content p {
    font-size: 0.9em;
    line-height: 1.3em;
  }
  
  .hero-photo, .centered-tile-full-width-hero img, .testimonial-box img, .centered-tile img, .centered-tile-background img, .centered-tile-background-1 img, .centered-form img, .centered-tile-double img, .wide-image img, .music-school-stats img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .centered-tile-full-width-hero, .testimonial-box, .container-flexer, .centered-tile-background, .centered-tile-background-1 {
    border-radius: 20px;
  }
  
  .centered-tile-full-width-hero form, .centered-tile-full-width form, .centered-form {
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.01);
    padding-bottom: 20px;
  }
  
  .centered-tile-full-width-hero h1, .centered-tile-full-width h2, .testimonial-box h2, .testimonial-box h3, .testimonial-box h4, .star-child h1, .star-child h2 {
    margin: 0;
    padding-bottom: 0;
  }
  
  .centered-tile-full-width h2 {
    color: white;
    font-size: 2.5em;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .button {
    cursor: pointer;
    width: 100%;
    max-width: 20em;
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    background-color: #f4f4f4;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .button:hover {
    background-color: #ddd;
    color: #444;
  }
  
  .book-consultation, .become-member, .play-now {
    background-color: salmon;
    color: white;
  }
  
  .send-email, .about-me {
    background-color: #008CBA;
    color: white;
  }
  
  .read-article {
    background-color: white;
    color: black;
    padding: 0.4em;
    font-family: 'Roboto', serif;
  }
  
  .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .container, .button-container {
      flex-direction: column;
      align-items: center;
    }
  
    h1, h2, h3, h5, p {
      padding: 0 1em;
    }
  
    .button {
      max-width: 100%;
    }
  }
  