

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('img/homepage-background.png'); /* Sets the background image */
    background-size: cover; /* Covers the full viewable area */
    background-position: center; /* Center the background image */
    background-attachment: scroll; /* Fixed background during scrolling */
    min-height: 100vh; /* Minimum height to 100% of the viewport height */
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.8em; /* Adjust size as needed */
    margin-top:0px; /* Space above the heading */
    text-align: center;
    margin-top: 90px;
}
h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.4em; /* Smaller than H1 by 15% */
    text-align: center;
    margin-top: 90px;
}
h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em; /* Smaller than H1 by 15% */
    text-align: center;
    margin-top: 90px;
}
h5 {
    font-family: 'Playfair Display', serif;
    font-size: 1.3em; /* Smaller than H1 by 15% */
    margin-top: 90px;
    background-color: yellow;
    width: fit-content;
    text-align: center;
    margin: auto;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin-top: 10px;
    padding: 0 7em; /* Adds 20em padding on both sides */
    font-size: 1.2em;
}




.homepage-content {
    text-align: center; /* Centers all text and images */
    max-width: 800px; /* Adjust based on design preference */
    margin: 0 auto; /* Center the content block */
    padding: 20px; /* Adds padding around the content */
}
.homepage-content p {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin-top: 10px;
    padding: 0 7em; /* Adds 20em padding on both sides */
    font-size: 2em;
}

.hero-photo {
    width: 100%; /* Makes the image responsive */
    max-width: 800px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    padding-top: 2em;
}

/* Hero Content  */
.centered-tile-full-width-hero {

    max-width: max-content; /* Limits max width to 700px */
    margin: 0 auto; /* Centers the container horizontally */
    background-size: cover; /* Covers the entire area of the div, stretching as needed */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents rep
    padding: 2em 0;  /* Top and bottom padding */
    max-width: 100%; /* Or any other max-width as necessary */
    margin: 0 auto; /* Centers the content */
    padding-top: 8em;
}
.centered-tile-full-width-hero h1 {
    font-size: 3em;
    text-align: center;
    margin: 0; /* Remove default margin */
    padding-bottom: 0; /* Reduce padding if any */
}
.centered-tile-full-width-hero h2{
    font-size: 2em;
}
.centered-tile-full-width-hero h3 {
    font-size: 3em;
    color: #5371FC;
    margin-top: 0; /* Reduce space above h3 */
    font-family: 'Roboto', sans-serif;
    margin-bottom: .2em; /* Reduce padding if any */
    padding-bottom: 0;

}
.centered-tile-full-width-hero p{
    max-width: 700px;
    margin: 0 auto;
    padding: auto;
    line-height: 1.3em;
    padding-top: 1.1em;
    
}
.centered-tile-full-width-hero img {
    width: 100%; /* Responsive width */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Corrects block level for centering */
    margin: 0 auto 0; /* Top margin only, centers horizontally */
    margin-top: 0;
    padding-top: 0;
}


.centered-tile-full-width-hero form {
    width: 70%; /* Responsive width */
    max-width: 700px; /* More specific max-width for forms */
    display: block; /* Ensures it's treated as a block level element */
    margin: 2.2em auto 0; /* Adds significant space above the form */
    padding-bottom: 20px; /* Adds padding at the bottom of the form */
    background-color: rgba(0, 0, 0, 0.01);
    padding-bottom: 2em;

}

.wide-image img{
    width: 80%; /* Increase the width as needed */
   height: auto; /* Maintains aspect ratio */
   display: block; /* Ensures the image is a block element, which is necessary for margin: auto to work */
   margin: 1.1em auto 0; /* Shorthand for margin-top: 1.1em, margin-right: auto, margin-bottom: 0, margin-left: auto */
   padding-top: 0; /* Ensures no padding is adding unnecessary space at the top */

}
.homepage-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2em; /* Adjust size as needed */
    margin-top: 20px; /* Space above the heading */
    text-align: center;
}


.homepage-content p {
    font-family: 'Montserrat', sans-serif;
    color: #333; /* Dark grey text color */
    margin-top: 10px; /* Space above the paragraph */
    font-size: 0.9em;
    line-height:1.3em;
    text-align: center;
}


.button-container {
    display: flex;
    justify-content: space-around; /* Evenly spaces the two buttons */
    margin-top: 20px; /* Space above the button container */
    justify-content: center; /* Horizontally center the content */
    align-items: center;   /* Vertically center the content (optional) */
    flex-direction: row; 
    
    
}

.button {
    cursor: pointer; /* Indicates the images are clickable */
    width: 100%; /* Each button takes up nearly half of the container */
    max-width: 20em;
}

.button {
    display: inline-block;
    padding: 8px 16px; /* Reduced padding */
    margin: 5px; /* Keep margin to prevent elements from touching */
    background-color: #f4f4f4; /* Light grey background */
    color: #000; /* Text color */
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px; /* Slightly smaller font size */
    border-radius: 5px; /* Rounded corners */
    border: none; /* No border */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.button:hover {
    background-color: #ddd; /* Darker background on hover */
    color: #444; /* Darker text on hover */
}

.book-consultation {
    background-color: salmon; /* Green background */
    color: white; /* White text */
}
.become-member {
    background-color: salmon; /* Green background */
    color: white; /* White text */
    margin: 0 auto;
    display: block;
    padding: .8em;
    font-family: 'Roboto', serif;
}
.play-now{
    background-color: salmon; /* Green background */
    color: white; /* White text */
}
.about-me{
    background-color: forestgreen; /* Green background */
    color: white; /* White text */
}

.send-email {
    background-color: #008CBA; /* Blue background */
    color: white; /* White text */
}
.about-me{
    background-color: #008CBA; /* Blue background */
    color: white; /* White text */
    margin: 0 auto;
    display:block;
}
.read-article{
    background-color: white; /* Green background */
    color: black; /* White text */
    margin: 0 auto;
    display: block;
    padding: .4em;
    font-family: 'Roboto', serif;
}

/* New content styling */
.homepage-content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em; /* Smaller than H1 by 15% */
    text-align: center;
    margin-top: 90px;
}

.testimonial-box {
    background-color:rgba(255, 255, 255, 0.7); /* Light background for the testimonial box */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow */
    width: 100%; /* Makes the image responsive */
    max-width: 400px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1.7EM;
    margin-bottom: 1.7EM;
    border-radius: 20px
    
}

.testimonial-box p {
    font-family: 'Montserrat', sans-serif;
    color: #4f4d4d;
    line-height: 1.6;
    font-size: 1.2em;
    padding: 1em;
    padding-bottom: 0.2em;
    margin-bottom:0;
    max-width: 86%;
    margin: 0 auto;
}
.testimonial-box img {
    width: 100%; /* Makes the image responsive */
    max-width: 85%; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    border-radius: 5px;
    margin-top:0;
    padding-top:0;
}

.star-rating img {
    width: 100%; /* Makes the image responsive */
    max-width: 200px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */  
}
.testimonial-box h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em; /* Smaller than H2 for occupation */
    color: black;
    text-align: center;
    padding-top: 0;
    margin-top: 0.3em;
    margin-bottom:0;
    padding-bottom: 0;
}
.testimonial-box h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em; /* Smaller than H2 for occupation */
    color: black;
    text-align: center;
    padding-top: 0;
    margin-top: 0.3em;
    margin-bottom:0;
    padding-bottom: 0;
    padding: 1em;
}
.testimonial-box h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em; /* Smaller than H2 for occupation */
    color: grey;
    text-align: center;
    padding-top: 0;
    margin-top: 0.3em;
    margin-bottom:0;
    padding-bottom: 0;
}
.testimonial-box h5 {
    font-family: 'Playfair Display', serif;
    font-size: 1.6em; 
    padding-right: 19em;
    line-height: 0px;
}
.testimonial-box ul li{
    line-height: 1.5em;
    color: #4f4d4d;
}

.star-child {
    max-width: max-content; /* Limits max width to 700px */
    margin: 0 auto; /* Centers the container horizontally */
    background-image: url(img/blog/steps-to-piano.png) ;
    background-size: 100%; /* Covers the entire area of the div, stretching as needed */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents rep*/
    padding: 0;  /* Top and bottom padding */
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
    max-height: 100%; /* Or any other max-width as necessary */
    margin: 0 auto; /* Centers the content */
    
}
.star-child h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.8em; /* Adjust size as needed */
    margin-top:0px; /* Space above the heading */
    text-align: center;
    margin-top: 90px;
    color: black;
}

.star-child h2{
    font-family: 'Roboto', sans-serif;
    font-size: 3em; /* Smaller than H2 for occupation */
    color: WHITE;
    text-align: center;
    padding:0;
    max-width: 600px;
    margin: 0 auto;
}

.music-school-stats img{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow */
    width: 100%; /* Makes the image responsive */
    max-width: 600px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    margin-top: 1EM;
}
.centered-tile {
    width: 100%; /* Makes the image responsive */
    max-width: 500px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    margin-top: 1EM;
    border-radius: 20px
}
.centered-tile img{
    width: 100%; /* Makes the image responsive */
    max-width: 300px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
}
.centered-tile-background {
   background:rgba(0,0,255,0.1);
    width: 100%; /* Makes the image responsive */
    max-width: 450px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    margin-top: 1EM;
    border-radius: 20px
}
.centered-tile-background img{
    width: 100%; /* Makes the image responsive */
    max-width: 400px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    padding-top: 2em;
}
 .centered-tile-background p {
    font-family: 'Montserrat', sans-serif;
    color: #4f4d4d;
    line-height: 1.6;
    font-size: 1em;
    padding: 1.5em;
}
.centered-tile-background-1 {
    background:rgba(81, 255, 0, 0.1);
     width: 100%; /* Makes the image responsive */
     max-width: 450px; /* Maximum width to prevent the image from becoming too large */
     height: auto; /* Maintains aspect ratio */
     display: block; /* Ensures the image is a block element */
     margin: 0 auto; /* Centers the image */
     margin-top: 1EM;
     border-radius: 20px
}
.centered-tile-background-1 img{
    width: 100%; /* Makes the image responsive */
    max-width: 400px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    padding-top: 2em;
}
.centered-tile-background-1 p {
    font-family: 'Montserrat', sans-serif;
    color: #4f4d4d;
    line-height: 1.6;
    font-size: 1em;
    padding: 1.5em;
}
.centered-form {
    width: 100%; /* Makes the image responsive */
    max-width: 600px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    margin-top: 1EM;
}
.centered-form img{
    width: 100%; /* Makes the image responsive */
    max-width: 600px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
}
.centered-tile-double {
    width: 100%; /* Makes the image responsive */
    max-width: 550px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    margin-top: 1.5EM;
}
.centered-tile-double img{
    width: 100%; /* Makes the image responsive */
    max-width: 600px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    margin-top: 1.2EM;
}

.container-flexer {
    background:rgba(81, 255, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 600px; /* Adjust based on your requirement */
    margin: 20px auto; /* Centering the container */
    width: 100%; /* Makes the image responsive */
    max-width: 400px; /* Maximum width to prevent the image from becoming too large */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Ensures the image is a block element */
    margin: 0 auto; /* Centers the image */
    padding-top: 1em;
}
.container-flexer p{
    font-family: 'Montserrat', sans-serif;
    color: #4f4d4d;
    line-height: 1.6;
    font-size: 1em;
    padding: 1.5em;
}

.row {
    display: flex; /* Enables flexbox */
    justify-content: space-between; /* Distributes space evenly between the columns */
 /* Optional: Adds border around the row */
}

.column {
    flex: 1; /* Each column takes equal space */
    padding: 10px; /* Padding inside each column *//* Visual aid, can be removed or styled as needed */
    margin: 5px; /* Optional: space between columns */
}

.centered-tile-full-width {
    width: 100%; /* Ensures it takes the full width available */
    max-width: 700px; /* Limits max width to 700px */
    margin: 0 auto; /* Centers the container horizontally */
    background-color: rgb(75, 45, 225); /* Sets a distinct background color */
    padding-top: 7.5em; /* Adds space at the top inside the container */
    padding-bottom: 9em; /* Adds space at the top inside the container */
    max-width: max-content; /* Limits max width to 700px */
    margin: 0 auto; /* Centers the container horizontally */
    background-size: cover; /* Covers the entire area of the div, stretching as needed */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents rep
    padding: 2em 0;  /* Top and bottom padding */
    max-width: 100%; /* Or any other max-width as necessary */
    margin: 0 auto; /* Centers the content */
}

.centered-tile-full-width img {
    width: 100%; /* Responsive width */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Corrects block level for centering */
    margin: 1.2em auto 0; /* Top margin only, centers horizontally */
}

.centered-tile-full-width form {
    width: 100%; /* Responsive width */
    max-width: 500px; /* More specific max-width for forms */
    display: block; /* Ensures it's treated as a block level element */
    margin: 3.2em auto 0; /* Adds significant space above the form */
    padding-bottom: 20px; /* Adds padding at the bottom of the form */
    background-color: #ffecdc; /* Light background for the form */
}
.centered-tile-full-width p {
    width: 80%; /* Ensures the paragraph uses the full width of the form */
    margin: 0 0 20px 0; /* Adds space below the paragraph */
    text-align: center; /* Optionally center the text */
    margin-left: -5em;
}
.centered-tile-full-width h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em; /* Adjust size as needed */
    margin-top: 20px; /* Space above the heading */
    text-align: center;
    color: white;

}

