body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('img/homepage-background.png');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: #666;
}

/* Baby Blue To Light Yellow Gradient Form */
.contact-us {
    padding: 2em;
    background: linear-gradient(to bottom right, #89CFF0, #fffacd);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contact-us h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-top: 20px;
    text-align: center;
    color: #333; /* Adjusted color */
}

.contact-us p {
    text-align: center;
    width: 80%;
    margin: 0 auto 20px auto;
    color: #21b39a; /* Adjusted color */
}

.contact-us img {
    width: 100%;
    height: auto;
    display: block;
    margin: 1.2em auto 0;
}

.contact-us form {
    width: 100%;
    max-width: 600px; /* Adjusted max-width */
    display: flex;
    flex-direction: column;
    margin: 2em auto 0;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-us form label {
    margin-top: 1em;
    font-size: 1.2em;
    color: #333; /* Adjusted color */
}

.contact-us form input,
.contact-us form textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Increase the size of the comment box */
.contact-us form textarea {
    height: 150px; /* Adjust this value to make the comment box bigger */
}

.contact-us form button {
    margin-top: 1.5em; /* Space above the button */
    padding: 0.8em 1.2em; /* Adjust padding to fit the word "Submit" */
    font-size: 1em; /* Adjust font size */
    color: white;
    background-color: rgb(0, 123, 139);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text */
}

.contact-us form button:hover {
    background-color: rgb(0, 143, 159); /* Adjusted hover color */
}
