/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('../img/homepage-background.png') center/cover no-repeat;
    min-height: 100vh;
}

.testimonial1-box, .testimonial-box, .star-child {
    padding: 20px;
    text-align: center;
    margin: 20px auto;
}

.testimonial1-box {
    background-color: #f9f9f9;
    width: 100%;
}

.testimonial1-box img {
    width: 25%;
    max-width: 70%;
    height: auto;
    display: inline-block;
    margin-bottom: 15px;
}

.testimonial1-box p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: left;
}

/* Common styles for testimonial boxes */
.testimonial-box {
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    max-width: 700px;
    min-width: 400px;
    border-radius: 20px;
    display: inline-block;
    vertical-align: top;
}

.testimonial-box img {
    width: 100%;
    max-width: 85%;
    height: auto;
    display: block;
    margin: 0 auto 15px;
    border-radius: 5px;
}

.testimonial-box h2, .star-child h2 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    color: black;
    text-align: center;
    margin-top: 0.3em;
}

.testimonial-box p {
    color: #4f4d4d;
    line-height: 1.6;
    font-size: 1.2em;
    padding: 1em;
    margin-bottom: 0;
}

/* Specific styling for .star-child */
.star-child {
    background: url('../img/about/yellow-background.png') center/cover no-repeat;
    border-radius: 20px;
    max-width: 700px;
}

.star-child h2 {
    margin: 0;
    background: url('../img/about/star-background.png') center/auto no-repeat;
    max-width: 600px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
